@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.cont {
  width: 100%;
  padding: 0 4px;
}

@font-face {
  font-family: "express";
  src: url('/fonts/KJV1611.otf');
}

.expressive {
  font-family: "express", Arial, sans-serif;
}


.activated-wrapper {
  @apply right-0;
}

.activated-burger {
  background-color: black;
  border-radius: 8px;
}
.activated-burger span:first-child {
  transform: rotate(40deg);
  transform-origin: 30%;
  background-color: yellow;
  position: relative;
  left: 2px;
}
.activated-burger span:nth-child(3) {
  transform: rotate(-40deg);
  transform-origin: 30%;
  background-color: white;
  position: relative;
  left: 2px;
}
.activated-burger span:nth-child(2) {
  display: none;
}


html.lock {
  overflow: hidden;
}
